@tailwind base;
@tailwind components;
@tailwind utilities;

.my-container {
  width: 90%;
  max-width: 1240px;
  margin-inline: auto;
}
.header {
  background: linear-gradient(90deg, #19375B 36.12%, rgba(25, 55, 91, 0.87) 89.52%);

}
@layer base {
  html {
    font-family: "Poppins", sans-serif;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #F26024;
  border-radius: 2rem;
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

